---
title: Competitions
---

<iframe hidden width="560" height="315" src="https://www.youtube-nocookie.com/embed/y6120QOlsfU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<section class="container">
  <h1 class="text-center">Competitions</h1>
  <hr/>
  <% comp = data.competitions[0] %>
  <h2 class="text-center"><%= comp.name %></h2>
  <div class="row" id="images">
    <div class="col-12 text-center" style="margin-bottom: 2.5em; min-height: 30em">
      <p>Winner: <%= comp.winners[0].name %></p>
      <%= genEmbedded(comp.winners[0]) %>
    </div>
    <hr/>
    <div class="col-7 text-center">
      <p>Second place: <%= comp.winners[1].name %></p>
      <%= genEmbedded(comp.winners[1]) %>
    </div>
    <div class="col-5 text-center">
      <p>Third place: <%= comp.winners[2].name %></p>
      <%= genEmbedded(comp.winners[2]) %>
    </div>
  </div>
  <hr/>
  <div class="row" style="padding-bottom: 2.5em">
    <div class="col-6">
      <p class="text-center"><%= comp.description %></p>
    </div>
    <div class="col-6">
      Thanks to all the other participants for submitting their screenshots
      <ul>
        <% comp.participants.each do |par| %>
          <li><%= par.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div style="padding-bottom: 2.5em">
    <p class="text-center" style="font-size: small"><%= link_to 'Old competitions', '/competitions-archive' %></p>
  </div>
</section>


<link href="https://cdn.statically.io/gh/fengyuanchen/viewerjs/v1.4.0/dist/viewer.min.css" rel="stylesheet">
<script src="https://cdn.statically.io/gh/fengyuanchen/viewerjs/v1.4.0/dist/viewer.min.js"></script>

<script>
    new Viewer(document.getElementById('images'), {
        toolbar: false
    });
</script>