---
title: Our Team
---

<section class="container">
  <ol class="team-chart pb-5">
    <li>
      <h1>Our Team</h1>
      <hr/>
      <ol>
        <li>
          <div class='title'><h2>Programmers</h2></div>
          <ol>
            <li>
              <div class="subtitle"><h3>Lead Devs</h3></div>
              <ol>
                <% data.programmers.leadDevs.each do |person| %>
                  <li>
                    <div>
                      <img src='https://crafatar.com/renders/body/<%= person.mcAvatar %>?overlay=true&scale=4' class='float-md-left'/>
                      <h3><%= person.userName %></h3>
                      <p><%= person.name %><p>
                      <p>
                        <% person.jobs.each do |j| %>
                          <%= j %><br/>
                        <% end %>
                      </p>
                      <p><em><%= person.tagline %>.</em></p>
                      <div class='clearfix'></div>
                    </div>
                  </li>
                <% end %>
              </ol>
            </li>

            <li>
              <div class="subtitle"><h3>Coders</h3></div>
              <ol>
                <% data.programmers.coders.each do |person| %>
                  <li>
                    <div>
                      <img src='https://crafatar.com/renders/body/<%= person.mcAvatar %>?overlay=true&scale=4' class='float-md-left'/>
                      <h3><%= person.userName %></h3>
                      <p><%= person.name %><p>
                      <p>
                        <% person.jobs.each do |j| %>
                          <%= j %><br/>
                        <% end %>
                      </p>
                      <p><em><%= person.tagline %></em></p>
                      <div class='clearfix'></div>
                    </div>
                  </li>
                <% end %>
              </ol>
            </li>

            <li>
              <div class="subtitle"><h3>Lead Devs (Inactive)</h3></div>
              <ol>
                <% data.programmers.leadDevsInactive.each do |person| %>
                  <li>
                    <div>
                      <img src='https://crafatar.com/renders/body/<%= person.mcAvatar %>?overlay=true&scale=4' class='float-md-left'/>
                      <h3><%= person.userName %></h3>
                      <p><%= person.name %><p>
                      <p>
                        <% person.jobs.each do |j| %>
                          <%= j %><br/>
                        <% end %>
                      </p>
                      <p><em><%= person.tagline %>.</em></p>
                      <div class='clearfix'></div>
                    </div>
                  </li>
                <% end %>
              </ol>
            </li>

            <li>
              <div class="subtitle"><h3>Coders (Inactive)</h3></div>
              <ol>
                <% data.programmers.codersInactive.each do |person| %>
                  <li>
                    <div>
                      <img src='https://crafatar.com/renders/body/<%= person.mcAvatar %>?overlay=true&scale=4' class='float-md-left'/>
                      <h3><%= person.userName %></h3>
                      <p><%= person.name %><p>
                      <p>
                        <% person.jobs.each do |j| %>
                          <%= j %><br/>
                        <% end %>
                      </p>
                      <p><em><%= person.tagline %></em></p>
                      <div class='clearfix'></div>
                    </div>
                  </li>
                <% end %>
              </ol>
            </li>

          </ol>
        </li>
        <li>
          <div class='title'><h2>Assets Team</h2></div>
          <ol>

            <li>
              <div class="subtitle"><h3>Art Team</h3></div>
              <ol>
                <% data.assetsTeam.artTeam.each do |person| %>
                  <li>
                    <div>
                      <img src='https://crafatar.com/renders/body/<%= person.mcAvatar %>?overlay=true&scale=4' class='float-md-left'/>
                      <h3><%= person.userName %></h3>
                      <p><%= person.name %><p>
                      <p>
                        <% person.jobs.each do |j| %>
                          <%= j %><br/>
                        <% end %>
                      </p>
                      <p><em><%= person.tagline %></em></p>
                      <div class='clearfix'></div>
                    </div>
                  </li>
                <% end %>
              </ol>
            </li>

            <!--
            <li>
              <div class="subtitle"><h3>Art Team (Inactive)</h3></div>
              <ol>
                <% data.programmers.leadDevs.each do |person| %>
                  <li><div>
                    <img src='https://crafatar.com/renders/body/<%= person.mcAvatar %>?overlay=true&scale=4' class='float-md-left' />
                    <h3><%= person.userName %></h3>
                    <p><%= person.name %><p>
                    <p>
                      <% person.jobs.each do |j| %>
                        <%= j %><br />
                      <% end %>
                    </p>
                    <p><em><%= person.tagline %></em></p>
                    <div class='clearfix'></div>
                  </div></li>
                <% end %>
              </ol>
            </li>
            -->
            <li>
              <div class="subtitle"><h3>Voice Actors</h3></div>
              <ol>
                <% data.assetsTeam.voiceActors.each do |person| %>
                  <li>
                    <div class="voice"><h3><%= person.name %></h3></div>
                  </li>
                <% end %>
              </ol>
            </li>
          </ol>
        </li>

        <li>
          <div class='title'><h2>Web Team</h2></div>
          <ol>
            <% data.webTeam.each do |person| %>
              <li>
                <div>
                  <img src='https://crafatar.com/renders/body/<%= person.mcAvatar %>?overlay=true&scale=4' class='float-md-left'/>
                  <h3><%= person.userName %></h3>
                  <p><%= person.name %><p>
                  <p>
                    <% person.jobs.each do |j| %>
                      <%= j %><br/>
                    <% end %>
                  </p>
                  <p><em><%= person.tagline %></em></p>
                  <div class='clearfix'></div>
                </div>
              </li>
            <% end %>
          </ol>
        </li>
      </ol>
    </li>
    <small>Avatars rendered by <a href="https://crafatar.com">Crafatar</a></small>
  </ol>
</section>

<%= stylesheet_link_tag "team-chart" %>